DJANGO_SECRET_KEY=troque-por-uma-chave-secreta-forte
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=*
NIVEL_LOG=INFO
API_KEY=dev-key-default
API_KEY_HEADER=X-API-Key
PORT_WEB=PORT_WEB
PORT_DEBUGPY=PORT_WEB
URL_BANCO_PROFESSORES=URL_BANCO_PROFESSORES